body{
    text-align:center;
    height:99%;
    width:100%;
    margin:0;
    font-family:quicksand;
    position: relative;
    overflow-x: hidden !important;
}
p{
    font-size: large;
}
h2{
    color: #3999CC;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom:1px #4A6D80 solid;
  }
.navbar li {
    float: left;
}
  
.navbar li a {
    font-size: 1.15em;
    display: block;
    color: #3999CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover {
    background-color: rgb(245, 245, 245);
}
.navbar img{
    padding:8px;
    float:left;
}
.content{
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    padding-bottom: 4em;
    margin-top: 15em;
}
.footer {
    position: absolute;
    padding: 1rem;
    top:100%;
    width: 100%;
    background-color: #3999CC;
    color: white;
}
#number1{
    font-size: 1.4em;
    color:white;
    margin-top: -16rem;
    left: 50%;
    transform: translate(-50%,0);
    position: relative; 
    z-index: 1;
}
#homeimg{
    left: 50%;
    transform: translate(-50%,0);
    position: absolute; 
    z-index: 1; 
    height: auto;
    width:30%;  
}
@font-face{
    font-family:quicksand;
    src:url(../fonts/quicksand.ttf);

}
.picture-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 4fr));
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 0px;
}
.employee-grid{
    display:grid;
    grid-template-columns:3;
    justify-items: center;
}
.employees p{
    left: 50%;
    transform: translate(-50%,0);
    position: relative; 
    z-index: 1;
    width:50%;
}
.grid-box img {
    width: 100%;
}
.order{
    font-size:larger;
}
input[type=textbox] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=textbox]:focus {
    background-color: rgb(245, 245, 245);
}
fieldset{
    border:none;
}
input[type=submit] {
    width: 10%;
    padding: 12px 20px;
    margin-bottom: 16px ;
    box-sizing: border-box;
    cursor: pointer;
}